<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rental/rental.css' %}" media="screen"/>
    <title>Holiday House</title>
</head>
<body>
    <div id="nav">
        {% if request.user.is_authenticated %}
            <p>Welcome {{ user }} - <a href="#">Log out</a></p>
        {% endif %}
    </div>
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
</body>
</html>
