{% extends "rental/base.html" %}

{% block content %}

<section class="grid-center">
    <form class="search" action="{% url 'rental:index'%}" method="post">
        {% csrf_token %}
        <input type="text" name="search_field" value="{{query}}">
        <button type="submit">🔍</button>
    </form>

    <ul class="accessories">
        <li>Pool</li>
        <li>Jacuzzi</li>
        <li disabled="">Sauna</li>
        <li disabled="">Balcony</li>
    </ul>
</section>


<section class="properties">
    {% for property in properties %}
    <article class="grid-2-col">
        <img class="rounded" src="{{ MEDIA_URL }}{{ property.property_img.first.img }}" alt="{{ property_img.img }}">
        <section>
            <p><b>{{property.title}}</b></p>
            <p>Price: {{property.price}}DKK</p>
            <p class="description">{{property.description}}</p>
        </section>
    </article>

    {% endfor %}
</section>
{% endblock %}
